@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;

}

body{
    min-height: 100vh;
    background-color: wheat;
}
a{
    text-decoration: none;
    color: inherit;
}
hr{
    border: none;
    height: 1px;
    background-color: rgb(203, 197, 197);
}

.app-content{
    display: flex;
  }
  